* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 10px;
    flex-wrap: wrap;
}

ul {
    display: flex;
    list-style-type: none;
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;

}


.intro {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    background-color: #1F2937;
    
}

.intro1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    

}

.intro1 h1 {
    font-size: 48px ;
    font-weight: 800;
    color: #F9FAF8;
}

.intro1 p {
    font-size: 18px;
    color: #E5E7EB;
    
}

 button {
    background-color: #3882F6;
    color: white;
    padding: 5px 25px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid white;

}


img {
    max-width: 350px;
    height: auto;
    padding: 50px;
    
}

.content {
    padding: 100px 200px;
    text-align: center;
    
}

.content h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 20px;
}

.card-group {
    display: flex;
    flex-wrap:wrap;
    gap: 50px;
    justify-content: center;

}

.card {
    border: 2px solid rgb(58, 58, 238);
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.card-group div {
    width: 200px;
}


.quote {
    padding: 100px 300px;
    background-color: #E5E7EB;
    font-size: 36px;
    color:#1F2937;
    font-style: italic;
}



.last-section {
    margin: 100px;
    padding: 50px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;

}

.footer {
    color: #F9FAF8;
    background-color: #1F2937;
    justify-content: center;
    display: flex;
    padding: 30px 0;
}








